.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #5D6975;
  text-decoration: underline;
}

body {
  position: relative;
  width: 19.5cm;  
  height: 27.7cm; 
  margin: 0 auto; 
  color: #001028;
  background: #FFFFFF; 
  font-family: Arial, sans-serif; 
  font-size: 10px; 
  font-family: Arial;
}

header {
  padding: 10px 0;
  margin-bottom: 0px;
}

#logo {
  text-align: left;
  margin-bottom: 1px; /*margen debajo del logo*/
  font-size: 10px;
}

#logo img {
  width: 700px; height: 90px;
  /*float:left; ubica la imagen, con texto al rededor*/
}

h1 {
  border-top: 1px solid  #5D6975;
  border-bottom: 1px solid  #5D6975;
  color: #5D6975;
  font-size: 1.7em;
  line-height: 1.0em;
  font-weight: normal;
  text-align: center;
  margin: 0 0 08px 0;
  background: url(\imagenes\dimension.png);
}
h3 {
  border-top: 1px solid  #5D6975;
  border-bottom: 1px solid  #5D6975;
  color: #5D6975;
  font-size: 2.4em;
  line-height: 1.0em;
}

h4 {
  margin: 0 0 8px 0;
 text-align:  center;
  font-size: 9px;
  color: RED; 
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 2px;
}

/*table tr:nth-child(2n-1) td {
  background: #F5F5F5;
}-->*/

table th,
table td {
  text-align: justify-all;
  border-spacing: 0;
   border-spacing: 0;
}

table img {
  width: 40px; height: 40px;
}

table th {
  padding: 2px 2px;
  color: #5D6975;
  border-bottom: 1px solid #C1CED9;
  white-space: nowrap;        
  font-weight: normal;
}

table .service,
table .desc {
  text-align:  justify;
  font-size: 9px; 
}

table td {
  padding: 10px;
  text-align: right;
}

table td.service,
table td.desc {
  vertical-align: top;
}

table td.descripccion
{
 font-size: 11px; 
   text-align:  right;
}

table td.cliente
{
 font-size: 10px; 
   text-align:  left;
}

table td.unit,
table td.qty,
table td.total {
 font-size: 10px; 
text-align:  center;
}

table td.grand {
  border-top: 1px solid #C1CED9;
  
}

#notices .notice {
  color: #5D6975;
  font-size: 1.2em;
}

footer {
  color: #5D6975;
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #C1CED9;
  padding: 8px 0;
  text-align: center;
}
#footer img {
  width: 750px; height: 30px;
  /*float:left; ubica la imagen, con texto al rededor*/
}