  html
  {
    margin: 10px,10px,10px,10px;
  }
  
  body
    {
      font-family: Arial, sans-serif; 
      position: relative;
    }

  header 
    {
        font-size: 12px; 
        position:  fixed;
    }
  
  #logo
   {
      text-align: center;
    }

  .header img
   {
      width: 700px; height: 100px;
      /*float:left; ubica la imagen, con texto al rededor*/
  }
      #DatosCliente
      {
        margin:0;
        line-height: 0.3;
      }

#alcance
    {
      background-color: #e0ebeb;
      text-align: left;
      font-size: 13px;     
    }

    #resolucion
    {
    font-size: 9px;
    text-align: center;
    }    


    #consignacion
    {
      background-color: #dcff84;
      margin:0;
     border-top: 2px solid  #5D6975; 
     text-align: center;
    }
  
    #consignacion p
    {
      margin:0;
     text-align: center;
    }

    h1 
    {
      border-top: 2px solid  #5D6975;
      border-bottom: 2px solid  #5D6975;
      color: #5D6975;
      font-size: 1.2em;
      font-weight: normal;
      text-align: center;
      margin-top: 2px;
      margin-bottom: 2px;
    }

    h3 {
      text-align:  center;
      color: #5D6975;
    }

h4 
   {
     text-align:  center;
      color: red; 
    }

table 
  {
    width: 100%;
    border-collapse: collapse;
    position: relative;
    top: 240px;
    margin-bottom: 75px;
    
    
  }
    table, td, th
    {
      border: 1px solid black;
      font-size: 11px;
    }

    table td.descripccion
    {
    font-size: 12px; 
    text-align: right;
    border: 1px solid white;
    border-color: white white white white;
    color: black;
     }

  table td:nth-child(3) 
   {
        width: 210px;
   }

  table img {
    width: 40px; height: 40px;

  }

  table .item {
        text-align: justify;
        font-size: 10px; 
        word-wrap: break-word;
  }

  tr:hover {background-color: #f5f5f5}

  table .number 
  {
    text-align: center;
    font-size: 11px; 

  }

  #tabletotal
  {
    position: absolute; 
    bottom: 15px;
  }


 #titulodescripccion
  {
    font-size: 10px;
    position: absolute;
    bottom: 95px;
  }

textarea
  {
        width: 100%;
        height: 50px;
        text-align: justify;
        white-space: normal;
        font-size: 10px;
        position: absolute; 
        bottom: 35px;
   }
  
  footer
  {
    color: #5D6975;
    text-align: left;
    position: fixed;
  }

  #textfooter
  {
    font-size: 7px;
    text-align: center;
    position: fixed;
    bottom: 38px;
  }

  footer img
  {
    position: fixed;
      width: 100%; height: 32px;
      bottom: 0px;
  }
  